# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore

# Folder to not ignore
!/mdsd.rpg/

/mdsd.rpg/bin/mdsd/generator/.RPGGenerator.xtendbin
/mdsd.rpg/xtend-gen/mdsd/generator/.RPGGenerator.xtendbin
*.class
*.class
