# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/mdsd.rpg.tests/src/mdsd/tests/RPGParsingTest.xtend

# Folder to not ignore
!/mdsd.rpg/

/mdsd.rpg/bin/mdsd/generator/.RPGGenerator.xtendbin
/mdsd.rpg/xtend-gen/mdsd/generator/.RPGGenerator.xtendbin
*.class
*.class
/mdsd.rpg/bin/*