# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore

# Folder to not ignore
!/mdsd.rpg/
!/mdsd.rpg.tests/
!/EXAMPLE_GAMES/

/mdsd.rpg/bin/mdsd/generator/.RPGGenerator.xtendbin
/mdsd.rpg/xtend-gen/mdsd/generator/.RPGGenerator.xtendbin
*.class
*.class
/mdsd.rpg/bin/*
/mdsd.rpg.tests/src-gen/*
/mdsd.rpg.tests/test-bin/*
/mdsd.rpg.tests/xtend-gen/*
/mdsd.rpg.tests/.settings/*